// Your custom styles
@import '_variables.scss';

.dark-blue-bg {
    background-color: $dark-blue !important;
}

.light-blue-bg {
    background-color: $light-blue !important;
}

.white-bg {
    background-color: $white !important;
}

.bright-yellow-bg {
    background-color: $bright-yellow !important;
}

.dark-yellow-bg {
    background-color: $dark-yellow !important;
}

.dark-blue-text {
    color: $dark-blue !important;
}

.light-blue-text {
    color: $light-blue !important;
}

.white-text {
    color: $white !important;
}

.bright-yellow-text {
    color: $bright-yellow !important;
}

.dark-yellow-text {
    color: $dark-yellow !important;
}

.blue-button-outline {
    color: $light-blue !important;
    border-color: $light-blue !important;
}

.blue-button-outline:hover {
    color: $light-blue !important;
    border-color: $light-blue !important;
    background-color: rgba(30, 150, 252, 0.2) !important;
}

.blue-solid-button {
    color: $white !important;
    background-color: $light-blue !important;
}

.blue-solid-button:hover {
    color: $white !important;
    background-color: $light-blue !important;
}

.yellow-button {
    color: $dark-blue !important;
    background-color: $dark-yellow !important;
}

.yellow-button:hover {
    color: $dark-blue !important;
    background-color: $bright-yellow !important;
}

.tight-paragraph {
    margin-bottom: 0.5rem;
}

.navbar-style {
    background-color: rgba(17, 41, 107, 0.6) !important; 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}